<meta charset="UTF-8">

<h3>Álcool ou Gasolina?</h3>

    <script>

        var tanque = 40;

        var caminhoUsandoGasolina = 480;

        var caminhoUsandoAlcool = 300;

        var consumoComGasolina = caminhoUsandoGasolina / tanque;

        var consumoComAlcool = caminhoUsandoAlcool / tanque;

        document.write("Consumo com Gasolina é de: " + consumoComGasolina + "<br>");

        document.write("Consumo com Álcool é de: " + consumoComAlcool);



    </script>