<meta charset="UTF-8">

<script>

    var ano = 2019;
    var puloLinha = "<br>"
    document.writeln("Luquita Nasceu em:" + (ano - 23) + puloLinha)
    document.write(puloLinha)
    document.writeln("Gleyce está com Bilu desde:"+ (ano - 11) + puloLinha)
    document.write(puloLinha)

    ano = 2000;
    document.writeln("Loro está na familia desde:" + (ano - 60) + " Ano " + puloLinha)
    document.write("De 900 Questões Cleytu acertou 25% da prova" + puloLinha)
    document.write("Então acertou: "+ (25*900)/100 + puloLinha)
    document.write(puloLinha)
    document.write("A" + "B" + 20 + 10 + "C" + (5 + 10) + "D" + puloLinha);
    document.write(puloLinha)

    var media = (23+30+21) / 3
    document.write("A Media das idades de Luca e Jorge e Birinbal é: "+ Math.round(media)+"<br>") 

    var nome = "oi";
    document.write(nome)


</script>