<meta charset="UTF-8">



     <script>

    //Função sem parametro.
    function pulaLinha(){

      return document.write("<br><br><br>");

    }

    //Funcão com parametro.
    function mostrar(mostre){
        document.write(mostre);
    }

    function fazPegadinha() {
    
        alert("Olá");
        alert("amiga!");
        alert("Tá");
        alert("bastante");
        alert("entediada?");
        alert("Em ficar");
        alert("Clicando em");
        alert("Ok");
        alert("né?");
    }
        
        fazPegadinha();
    
        document.write("teste");
        pulaLinha();

        document.write("Teste2");
        pulaLinha();

        mostrar("oi");
        pulaLinha();


     </script>