<meta charset="UTF-8">

<script>

    var idade1 = 20;
    var idade2 = 41;
    var idade3 = 15;

    function mostrar(mensagem){
        document.write(mensagem);
        document.write("<br>")
    }

    function diferencaIdade(idade1,idade2){
        var diferenca = idade1 - idade2;
        return diferenca;
    }
    
    mostrar("Diferença de Idade é de:"+diferencaIdade(idade2,idade3))
    mostrar("Diferença de Idade é de:"+diferencaIdade(idade3,idade1))


</script>