<meta charset="UTF-8">
A convenção que usaremos para criar nosso programa é adotar letras minúsculas e não usar acentos e, claro, usar a extensão .html.<br>
<br>Outro ponto importante é que toda alteração feita no arquivo .html deve ser salva e, além disso, o navegador precisa recarregar a página para que a última alteração do arquivo entre em vigor.

<a href="http://www.youtube.com.br">Youtube</a>
<script>alert("BEM-VINDO AO POSITION CENTER")</script>